<!DOCTYPE html>
<html>
  <head> 
    <title>Add</title>
  </head>
  <body>
    <div>
        <p>Book Details</p>
    </div>
    <div>
        <form action="/add" method="post">
            <div class="row">
              <div class="col">
                <input type="text" name="Name" class="form-control" placeholder="Name" required>
              </div>
              <div class="col">
                <input type="text" name="Price"class="form-control" placeholder="Price" required>
              </div>
              <div class="col">
                <input type="text" name="Stock" class="form-control" placeholder="Stock">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
  </body>
</html>
